body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-left: 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.listing-card {
  border: none;
  margin-bottom: 2rem;
  padding: left 0;
  padding-right: 0;
}

.card-img-top {
  border-radius: 1rem;
}

.card-body {
  padding: 0;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn,
.show-delete {
  background-color: #fe424d;
  border: none;
}

.add-btn:hover,
.show-delete:hover {
  background-color: #c7000d;
}

.show-img {
  height: 30vh;
  object-fit: cover;
}

#map {
  height: 50px;
  width: 100%;
}
